@import './config';
@import './header';

body {
  background-image: url('/starter-code/assets/crew/background-crew-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  @media (width >= 40em) and (width <= 61.99em) {
    background-image: url('/starter-code/assets/crew/background-crew-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  @media (width > 62em) {
    background-image: url('/starter-code/assets/crew/background-crew-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}


main {
  position: relative;
}

.crew-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  @media (width >= 40em) and (width <= 61.99em) {
    flex-direction: column-reverse;
  }

  @media (width > 62em) {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 0 0 0 10.3rem;
    align-items: center;
    height: 45rem;
  }
}


.swiper-pagination {
  background-color: brown;
  float: left;
  margin-bottom: 2rem;
}

.swiper-pagination-bullets .swiper-pagination-bullet{
  background-color: white;
}

.crew-img {
  @media (width > 62em) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.img-douglas {
  width: 11.07rem;
  height: 13.88rem;

  @media (width >= 40em) and (width <= 61.99em) {
    width: 28.52rem;
    height: 35.75rem;
  }

  @media (width > 62em) {
    width: 35.50rem;
    height: 44.5rem;
  }
}

.img-mark {
  width: 9.62rem;
  height: 13.88rem;

  @media (width >= 40em) and (width <= 61.99em) {
    width: 23.05rem;
    height: 33.25rem;
  }

  @media (width > 62em) {
    width: 28.34rem;
    height: 40.88rem;
  }
}

.img-victor {
  width: 11.30rem;
  height: 13.88rem;

  @media (width >= 40em) and (width <= 61.99em) {
    width: 27.07rem;
    height: 33.25rem;
  }

  @media (width > 62em) {
    width: 34.65rem;
    height: 42.56rem;
  }
}

.img-anousheh {
  width: 14.13rem;
  height: 13.93rem;

  @media (width >= 40em) and (width <= 61.99em) {
    width: 33.72rem;
    height: 33.25rem;
  }

  @media (width > 62em) {
    width: 38.47rem;
    height: 37.94rem;
  }
}

.crew-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.63rem;
  text-align: center;
  margin-top: 2rem;

  @media (width >= 40em) and (width <= 61.99em) {
    row-gap: 2.75rem;
  }

  @media (width > 62em) {
    text-align: left;
    align-items: start;
    margin-top: unset;
    margin-right: 38rem;
  }
}

.crew-content h3 {
  font-size: 1rem;
  color: $base-color;
  text-transform: uppercase;
  font-family: 'Bellefair';

  @media (width >= 40em) and (width <= 61.99em) {
    font-size: 1.5rem;
  }

  @media (width > 62em) {
    font-size: 2rem;
  }
}

.crew-content h2 {
  font-size: 1.5rem;
  color: $base-color;
  text-transform: uppercase;
  font-family: 'Bellefair';
  padding-top: 0.6rem;
  margin-bottom: 1rem;

  @media (width >= 40em) and (width <= 61.99em) {
    padding-top: 1rem;
    font-size: 2.5rem;
  }

  @media (width > 62em) {
    font-size: 2.3rem;
    padding-top: 0.69rem;
    margin-bottom: 1.6rem;
  }
}


.crew-content p {
  font-size: .94rem;
  color: $secordary-color;
  font-family: 'Barlow Condensed';
  width: 21.4rem;
  line-height: 1.6rem;
  letter-spacing: .1rem;
  @media (width >= 40em) and (width <= 61.99em) {
    width: 29.6rem;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 6.1rem;
  }
  @media (width > 62em) {
    font-size: 1.13rem;
    line-height: 2rem;
    width: 27.42499rem;
  }
}